body {
    font-family: 'Noto Sans KR', sans-serif;
    margin:0;
    background-image:url(images/theatre.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
  }
  
 .welcome h1{
 color: whitesmoke;
 margin-top: 10%;
 height: 50px;
 text-align: center;
 font-size: 25px;
}

p, .question, .scoreBoard, .feedback, .results, a{
    text-align: center;
    padding: 3px;
    color: whitesmoke;
}

input{
    margin-top: 10px;
}

.feedBack {
    padding-top: 20px;
}
.button {
    margin-top: 5%;
    margin-left: 46%;
    height: 4em;
    cursor: pointer;
    text-transform: uppercase;
    border: 0.1em #07773e solid;
    background-color:royalblue;
    color: #ffffff;
    border-radius: 4px;
  }

  a{
      text-decoration: none;
  }
