* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 1%;
  }
 

  body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin:0;
    background-size: cover;
    background-image:url(images/theatre.jfif);
    background-color: black;
    /*background-position: center; */
    background-repeat: no-repeat;
    
  }

  header {
    margin-top: 25px;
    height:80px;
    color: white;
    margin-bottom: 55px;
    text-align: center;
  }

  
  header h1 {
    line-height: 1;
    font-size: 30px;
    text-align: center;
  }

  p{
      text-align: center;
      max-width: 50%;
      margin-left: 25%;
  }



  .startButton {
    margin-top:10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:white;
    background: blue;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 10px 20px;
  }

  #answerButton, #nextButton{
    margin-top:10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:white;
    background: green;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 10px 20px;
  }

  #restartQuiz{
    margin-top:20px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:black;
    background: yellow;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 10px 20px;
  }


  .question-and-score{
    color: white;
    padding-top: 10px;
  }

  main{
      text-align: center;
      color: white;
  }

  .js-options{
      margin-top: 2%;
      color: white;
  }


  a{
      text-decoration: none;
      color: white;
  }

  input[type=radio]{
      margin: 4px;
      
  }

  @media screen and (max-width:819px){
    body{
        background-attachment: fixed;
        background-image: cover;
    }
  }